.manage-movies-container {
    background-color: #d9d9d9;
    border-radius: 24px;
    padding: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
}

.movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.movie {
    background-color: #393e41;
    color: #d9d9d9;
    border-radius: 24px;
    padding: 10px;
    min-width: 200px;
    min-height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movie-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.movie-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.movie-button {
    background-color: #d9d9d9;
    color: #393e41;
    font-weight: 600;
    border-radius: 24px;
    padding: 10px;
    cursor: pointer;
    border: none;
    scale: 1;
    transition: scale 0.4s ease;
}

.movie-button:hover {
    background-color: #e94f37;
    color: #d9d9d9;
    scale: 1.1;
    transition: scale 0.4s ease;
}

.movie {
    position: relative;
    background-color: #393e41;
    color: #d9d9d9;
    width: 200px;
    height: 300px;
    text-align: center;
    border-radius: 24px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2),
        -8px 8px 16px rgba(0, 0, 0, 0.2);
    scale: 1;
    transition: scale 0.4s ease;
}

.movies-list .movie .card-img {
    transition: all 0.4s ease;
}

.movies-list .movie:hover {
    scale: 1.1;
    transition: scale 0.4s ease;
    cursor: pointer;
}

.movies-list .movie:hover .card-img {
    filter: blur(2px);
    transition: all 0.4s ease;
}

.movies-list .movie:hover .card-title,
.movies-list .movie:hover .card-button {
    visibility: visible;
}

.movies-list .card-img {
    width: 100%;
    object-fit: cover;
}

.movies-list .card-title {
    visibility: hidden;
    position: absolute;
    font-size: 1.2em;
    font-weight: 500;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.movies-list .card-button--edit {
    visibility: hidden;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(50%, 10%);
    background-color: #393e41;
    color: #d9d9d9;
    border: none;
    border-radius: 24px;
    padding: 10px;
    cursor: pointer;
    scale: 1;
    transition: scale 0.4s ease;
}

.movies-list .card-button--delete {
    visibility: hidden;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-100%, 10%);
    background-color: #393e41;
    color: #d9d9d9;
    border: none;
    border-radius: 24px;
    padding: 10px;
    cursor: pointer;
    scale: 1;
    transition: scale 0.4s ease;
}

.movies-list .card-button:hover {
    background-color: #e94f37;
    color: #d9d9d9;
    scale: 1.1;
    transition: scale 0.4s ease;
}
